{% extends "@App/layout.html.twig" %}

{% block body %}

    {{ block("header") }}

    <main id="main-wrap">
        <div class="container">
            {{ block("flash") }}
            {{ block("content") }}
        </div>
    </main>
    {{ block("footer") }}
    <div id="login-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Авторизація</h4>
                </div>
                <div class="modal-body">
                    {#{{ render(url('login_included')) }}#}
                    <hr/>
                    <a href="{{ login_url }}"><img src="{{ asset('images/bank-id.png') }}" alt="BankID" /></a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block content %}

<div id="aboutDeveloper">

    <section class="s1">
        <h1>Про програму</h1>
    </section>

    <section class="s3">
        <p>
            Народна Рада - це платформа, розроблена з метою допомоги соціально-активним жителям не лише спостерігати за діями членів міської ради та рішеннями, які  вони приймають щодо міського бюджету, але й долучитися до відповідної процедури голосування.
        </p>
        <p>
            Народна Рада - це унікальний для Черкас громадський проект електронного голосування, який розробили та реалізували добровольці, які вважають за необхідне долучитися суспільству до розподілення грошових коштів, що надходять до міського бюджету.
        </p>
        <p>
            Проект Народної Ради зародився ще у грудні 2013 року, коли виникла необхідність у створенні майданчика для обговорення вектора розвитку України. Час реалізації проекту настав саме у 2015 році і в Черкасах було запущено проект по Громадському Бюджету. Народна Рада - це мобільний додаток для основних моделей смартфонів, який дозволяє авторизотуватися через BankID та слідкувати за всіма пропозиціями, які потрапляють на сесію Міської Ради.
        </p>
        <p>Народна Рада це:</p>
        <ul>
            <li>
                контроль за розподілом бюджету;
            </li>
            <li>
                контроль за діями партій та депутатів;
            </li>
            <li>
                донесення своєї думки до депутатів та голів партій.
            </li>
        </ul>
        <p></br>
            <i>
            *При авторизації через BankID Ваш банк не передає жодної конфіденційної інформація, а лише наступні дані: фактична адреса, ідентифікаційний номер, дата народження, прізвище ім’я по-батькові та стать.
        </i></p>
    </section>
</div>
{% endblock content %}
