{% extends "@App/layout.html.twig" %}

{% block body %}

    {{ block("header") }}

    <main id="main-wrap">
        <div class="container">
            {{ block("flash") }}
            {{ block("content") }}
        </div>
    </main>
    {{ block("footer") }}
    <div id="login-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Авторизація</h4>
                </div>
                <div class="modal-body">
                    {#{{ render(url('login_included')) }}#}
                    <hr/>
                    <a href="{{ login_url }}"><img src="{{ asset('images/bank-id.png') }}" alt="BankID" /></a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block content %}

<div id="aboutDeveloper">

    <section class="s1">
        <h1>Про програму</h1>
    </section>

    <section class="s2">
        <p>
            Народна Рада - це платформа, розроблена з метою допомоги соціально-активним жителям не лише спостерігати за діями членів міської ради та рішеннями, які  вони приймають щодо міського бюджету, але й долучитися до відповідної прцедури голосування.
        </p>
        <p>
            Народна Рада - це унікальний для Черкас громадський проект електронного голосування, який розробили та реалізували добровольці, які вважають за необхідне долучитися суспільству до розподілення грошових коштів, що надходять до міського бюджету.
        </p>
        <p>
            Проект Народної Ради зародився ще у грудні 2013 року, коли виникла необхідність у створенні майданчика для обговорення вектора розвитку України. Час реалізації проекту настав саме у 2015 році і в Черкасах було запущено проект по Громадському Бюджету. Народна Рада - це мобільний додаток для основних моделей смартфонів, який дозволяє авторизотуватися через BankID та слідкувати за всіма пропозиціями, які потрапляють на сесію Міської Ради.
        </p>
        <ul>
            Народна Рада це:
            <li>
                контроль за розподілом бюджету;
            </li>
            <li>
                контроль за діями партій та депутатів;
            </li>
            <li>
                донесення своєї думки до депутатів та голів партій.
            </li>
        </ul>
        <p>
            *При авторизації через BankID Ваш банк не передає жодної конфіденційної інформація, а лише наступні дані: фактична адреса, ідентифікаційний номер, дата народження, прізвище ім’я по-батькові та стать.
        </p>
    </section>
</div>
{% endblock content %}

{% block menu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path("homepage") }}" class="navbar-brand">Лого</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    {#{{ dump(is_granted('ROLE_USER'), is_granted('ROLE_ADMIN')) }}#}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if app.user %}
                            <a href="{{ path('logout') }}">Вихід</a>
                        {% elseif app.request.get('_route') != 'login' %}
                            <a href="" data-toggle="modal" data-target="#login-modal">Увійти</a>
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </div>

{% endblock menu %}

{% block header %}

    <header id="main-header">
        <div class="container main-block">
            <a href="{{ path("homepage") }}" id="home-icon" class="icon-home"></a>
            <a href="{{ path("homepage") }}">golos.ck.ua</a>

            {% if app.user and is_granted('ROLE_USER') %}
            <a href="{{ path('projects_add') }}">Add Project User</a>
            {% endif %}
            {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_projects_add') }}">Add Project Admin</a>
            {% endif %}

            {% if app.user %}
            <a href="{{ path('logout') }}" id="user-icon" style="background-image: url( {% if app.user.avatar %} {{ asset(app.user.avatar) }} {% else %} {{ asset('bundles/app/img/icon_developer.png') }} {% endif %} );" alt="Вихід"></a>
            {% elseif app.request.get('_route') != 'login' %}
            <a href="" id="user-icon" data-toggle="modal" data-target="#login-modal">Увійти</a>
            {% endif %}

        </div>
    </header>
{% endblock header %}
