{% extends "@App/layout.html.twig" %}

{% block body %}

    {{ block("header") }}

    <main id="main-wrap">
        <div class="container">
            {{ block("flash") }}
            {{ block("content") }}
        </div>
    </main>
    {{ block("footer") }}
    {{ block("popauth") }}
{% endblock body %}

{% block content %}
    <div id="aboutDeveloper">
        <section class="s1">
            <h1>Учасники проекту</h1>
            <p>Люди, небайдужі до долі свого міста, ті, хто хоче вдихнути інноваційні технології у практичне використання громадою, об’єднались. Вони використали свої знання, таланти, час та приклали значних зусиль, щоб зробити можливим голосування за проекти Громадського бюджету не виходячи з дому. Щиро вдячні за це волонтерам-розробникам та іншим учасникам процесу:
            </p>
        </section>
        <section class="s2">
            <ul>
                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/vlevchenko.jpg') }} )"></div>
                    <h3>Левченко В’ячеслав</h3>
                    <p>– член комітету Громадського бюджету, звернувся за допомогою створити програмне забезпечення для електронного голосування</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/vyevpak.jpg') }} )"></div>
                    <h3>Євпак Віктор (E-Kreative)</h3>
                    <p>– підтримка проекту у рамках проведеного хакатону в своїй компанії</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/amoshta.jpg') }} )"></div>
                    <h3>Олександр Мошта</h3>
                    <p>- перший рядок коду і основа веб додатку. Розробник на Symfony</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/spismenniy.jpg') }} )"></div>
                    <h3>Станіслав Письменний</h3>
                    <p>– розробка першої версії bootstrap верстки. Фронтенд - розробник</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/vgoncharenko.jpg') }} )"></div>
                    <h3>Володимир Гончаренко</h3>
                    <p>- розробка першої версії bootstrap верстки. Фронтенд - розробник </p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/ishuba.jpg') }} )"></div>
                    <h3>Іван Шуба</h3>
                    <p>– значна частина веб-функціоналу, та АПІ. Розробник на Symfony</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/modnovolyk.png') }} )"></div>
                    <h3>Максим Одноволик</h3>
                    <p>– розробник значної частинини мобільної iOS-версії та проведення технічного контролю за візуальною частиною. Розробник на Swift</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/mvoloshyn.jpg') }} )"></div>
                    <h3>Микола Волошин</h3>
                    <p>– розробник мобільної версії на iOS. Взяв на себе ініціативу по організації процесу запуску проекту. Розробник на Swift</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/stsibrovsky.jpg') }} )"></div>
                    <h3>Сергій Цибровський</h3>
                    <p>– розробник мобільної версії на Android</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/vmanzhula.jpg') }} )"></div>
                    <h3>Віктор Манжула</h3>
                    <p>– верстка нової версії дизайну. HTML верстальник</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/ykisanov.jpg') }} )"></div>
                    <h3>Юрій Кісанов</h3>
                    <p>– технічний контроль верстки нової версії дизайну. Фронтенд - розробник</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/isobchenko.jpg') }} )"></div>
                    <h3>Ігор Собченко</h3>
                    <p>– перенесення HTML верстки.</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/spolishuk.jpg') }} )"></div>
                    <h3>Сергій Поліщук</h3>
                    <p>– впровадження безпечності даних та надійності системи в цілому. Розробник на Symfony</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/itsarenko.jpg') }} )"></div>
                    <h3>Інна Царенко</h3>
                    <p>– створення візуального стилю та контенту. Дизайнер та UI спеціаліст</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/ygolub.jpg') }} )"></div>
                    <h3>Яна Голуб</h3>
                    <p>– редактор спільнот у соціальних мережах</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/tkharenko.jpg') }} )"></div>
                    <h3>Тетяна Харенко</h3>
                    <p>– домовилась про отримання необхідних даних від BankID</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/szhuk.jpg') }} )"></div>
                    <h3>Сергій Жук</h3>
                    <p>– представник BankID</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/astetsuk.jpg') }} )"></div>
                    <h3>Олександр Стецюк</h3>
                    <p>– QA engineer та контент менеджер</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/tshevchenko.jpg') }} )"></div>
                    <h3>Тарас Шевченко</h3>
                    <p>– розробник мобільної версії на Android</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/ikolysnyk.jpg') }} )"></div>
                    <h3>Ірина Колісник</h3>
                    <p>– написання та редагування текстів.  Copywriter</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/icon_developer.png') }} )"></div>
                    <h3>Олександр Москаленко</h3>
                    <p>– розробник на Symfony</p>
                </li>

                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/mstavnychna.jpg') }} )"></div>
                    <h3>Марина Ставнича</h3>
                    <p>– написання та редагування текстів.  Copywriter</p>
                </li>
                <li>
                    <div class="img-wrap" style="background-image: url( {{ asset('images/developers/vdybenko.jpg') }} )"></div>
                    <h3>Володимир Дибенко</h3>
                    <p>– ідейний натхненник та ініціатор платформи «Народна рада»</p>
                </li>
            </ul>
        </section>
    </div>
{% endblock content %}

