{% extends "@App/layout.html.twig" %}

{% block body %}

    {{ block("header") }}

    <main id="main-wrap">
        <div class="container">
            {{ block("flash") }}
            {{ block("content") }}
        </div>
    </main>
    {{ block("footer") }}
    {{ block("popauth") }}
{% endblock body %}

{% block content %}
    <div id="statistic">
        <h1>Статистика</h1>
        <section>
            <div class="row">
                <div class="col-md-6 fig-wrap">
                    <figure>
                        <p>Бюджет
                            <span>200 000</span>
                        </p>
                        <p>
                            <span>200 000</span>
                            Підтримало
                        </p>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h3>Облаштування троутарною плиткою подвіря Черкаської гімназії №9</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 fig-wrap">
                    <figure>
                        <p>Бюджет
                            <span>200 000</span>
                        </p>
                        <p>
                            <span>200 000</span>
                            Підтримало
                        </p>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h3>Облаштування троутарною плиткою подвіря Черкаської гімназії №9</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 fig-wrap">
                    <figure>
                        <p>Бюджет
                            <span>200 000</span>
                        </p>
                        <p>
                            <span>200 000</span>
                            Підтримало
                        </p>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h3>Облаштування троутарною плиткою подвіря Черкаської гімназії №9</h3>
                </div>
            </div>
        </section>
    </div>

{% endblock content %}

{% block menu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path("homepage") }}" class="navbar-brand">Лого</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    {#{{ dump(is_granted('ROLE_USER'), is_granted('ROLE_ADMIN')) }}#}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if app.user %}
                            <a href="{{ path('logout') }}">Вихід</a>
                        {% elseif app.request.get('_route') != 'login' %}
                            <a href="" data-toggle="modal" data-target="#login-modal">Увійти</a>
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </div>

{% endblock menu %}

{% block header %}

    <header id="main-header">
        <div class="container main-block">
            <a href="{{ path("homepage") }}" id="home-icon" class="icon-home"></a>
            <a href="{{ path("homepage") }}">golos.ck.ua</a>

            {% if app.user and is_granted('ROLE_USER') %}
            <a href="{{ path('projects_add') }}">Add Project User</a>
            {% endif %}
            {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_projects_add') }}">Add Project Admin</a>
            {% endif %}

            {% if app.user %}
            <a href="{{ path('logout') }}" id="user-icon" style="background-image: url( {% if app.user.avatar %} {{ asset(app.user.avatar) }} {% else %} {{ asset('bundles/app/img/icon_developer.png') }} {% endif %} );" alt="Вихід"></a>
            {% elseif app.request.get('_route') != 'login' %}
            <a href="" id="user-icon" data-toggle="modal" data-target="#login-modal">Увійти</a>
            {% endif %}

        </div>
    </header>
{% endblock header %}
