{% extends "@App/layout.html.twig" %}

{% block title %}
    Проекти
{% endblock title %}

{% block content %}
	    <div id="hp-logo"></div>

		<h1 id="hp-title">
            <p>виріши долю громадського бюджету міста Черкас на 2016 рік</p>
            Голосування відкрито до 14 грудня 2015 року<br>
            <hr>
            Вже проголосувало Черкащан:
		</h1>

    {% set votes = 0 %}
    {% for project in projects %}
        {% set votes = votes + project['countLikes']|number_format(0, '.', ' ') %}
    {% endfor %}
    {% set digits = votes|split('') %}

        <div class="counter">
        {% for digit in digits %}
            <span class="digit">
                <span title="{{ digit }}">{{ digit }}</span>
            </span>
        {% endfor %}
        </div>

    {% for project in projects %}
        {% set votes = votes + project['countLikes']|number_format(0, '.', ' ') %}
        {% if loop.index % 4 == 1 %}
         <div class="row">
        {% endif %}

        <div class="col-md-3  item-content">
            <div class="wrap-item">
                <div class="card" id="project{{ project[0].id }}">
                    <div class="card-image">
                        <a href="{{ path('projects_show', { id: project[0].id }) }}" class="img-lnk">
                            <img src="{% if project[0].picture %} {{ asset(project[0].picture) }} {% else %} {{ asset('images/gerb_goroda_cherkassy.png') }} {% endif %}" class="img-responsive" alt="">
                        </a>
                    </div><!-- card image -->

                    <div class="card-content">
                        <h2 class="item-title">{{ project[0].title|humanize }}</h2>
                    </div><!-- card content -->
                    <div class="item-excerpt">
                        <span>{{ project[0].description[:70] ~'...' }}</span>
                        <button type="button" class="btn btn-custom pull-right cards desc-btn" aria-label="Left Align" data-value="project{{ project[0].id }}">
                            <i class="fa fa-ellipsis-v" data-value="project{{ project[0].id }}"></i>
                        </button>
                    </div><!-- card actions -->
                    <div class="item-meta">
                        <div>Створено: <span>{{ project[0].createAt|date('d-m-Y') }}</span></div>
                        <div>Підтримало: <span>{{ project['countLikes']|number_format(0, '.', ' ') }}</span></div>
                        <div>Бюджет: <span>{{ project[0].charge|number_format(0, '.', ' ') }}</span> грн.</div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">{{ project[0].title }}</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <p>
                            {{ project[0].description }}
                        </p>
                    </div><!-- card reveal -->
                    <a href="{{ path('projects_show', { id: project[0].id }) }}" class="detail-btn">детальніше</a>
                </div>
            </div>
        </div>
        {% if loop.index % 4 == 0 %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/project_list.js') }}"></script>
{% endblock %}