{% extends '@App/layout.html.twig' %}

{% block content %}
        <div class="info_project">
            {{ project.description }}
        </div>
        {{ block("navproject") }}

{% endblock %}

{% block header %}
    <div class="fb-profile">
        <div class="image_project">
            <h2 class="title_project">{{ block('title') }}</h2>
            <img align="left" class="fb-image-lg" src="{{ asset("images/image_project.jpg") }}" alt="Profile image example"/>
        </div>
        <div class="fb-image-profile thumbnail">
            <div class="border_tumbnail">
                <img align="left" src="{{ asset("images/face.jpg") }}">
            </div>

        </div>
        <div class="fb-profile-text">
            <h1>{{ project.owner.fullName }}</h1>
        </div>
    </div>
{% endblock header %}

{% block title %}
    {{ project.title|humanize }}
{% endblock title %}

{% block navproject %}
    <div class="nav_project">
        <ul class="nav nav-pills">
            <li><span>Створено: <span class="badge">{{ project.createAt|date('d-m-Y') }}</span></span></li>
            <li>
                <span>Підтримало: <span class="badge">10 000</span></span>
            </li>
            <li>
                <span>
                    Звідки: <a href="{{ project.source }}" class="badge">{{ project.source|regexUrl }}</a>
                </span>
            </li>
            <li>
                <button class="btn btn-info read_more">Підтримати</button>
            </li>

        </ul>
    </div>
{% endblock navproject %}
