{% extends '@App/layout.html.twig' %}

{% block content %}
        <div class="info_project">
            {{ project.description }}
        </div>
        {{ block("navproject") }}

{% endblock %}

{% block header %}
    <div class="fb-profile">
        <div class="image_project">
            <h2 class="title_project">{{ block('title') }}</h2>
            <img align="left" class="fb-image-lg" src="{{ asset("images/image_project.jpg") }}" alt="Profile image example"/>
        </div>
        <div class="fb-image-profile thumbnail">
            <div class="border_tumbnail">
                <img align="left" src="{{ asset("images/face.jpg") }}">
            </div>

        </div>
        <div class="fb-profile-text">
            <h1><a href="{{ path('users_profile', { id: project.owner.id }) }}">{{ project.owner.fullName }}</a></h1>
        </div>
    </div>
{% endblock header %}

{% block title %}
    {{ project.title|humanize }}
{% endblock title %}

{% block navproject %}
    <div class="nav_project">
        <ul class="nav nav-pills">
            <li><span>Створено: <span class="badge">{{ project.createAt|date('d-m-Y') }}</span></span></li>
            <li>
                <span>Підтримало: <span class="badge">{{ project.likedUsers|length|number_format(0, '.', ' ') }}</span></span>
            </li>
            <li>
                <span>
                    Звідки: <a href="{{ project.source }}" class="badge">
                        {% if project.source is defined %}
                        {#{{ project.source|regexUrl }}#}
                            {{ project.source }}
                        {% endif %}
                    </a>
                </span>
            </li>
            <li {{ app.user is null ? ' data-toggle="modal" data-target="#login-modal"' }}>
                {{ render(controller('AppBundle:Project:like', { id: project.id })) }}
            </li>

        </ul>
    </div>
{% endblock navproject %}
