{% extends '@App/layout.html.twig' %}

{% block content %}
            <div class="row hd-caption" style="background-image: url({% if project.picture %} {{ asset(project.picture) }} {% else %} {{ asset('images/gerb_goroda_cherkassy.png') }} {% endif %})">
                <div class="row">
                    <div class="col-md-12">
                        <h3> {{ block('title') }} </h3>
                    </div>
                </div>

                <div class="row hd-info">
                    <div class="col-md-5">
                        <div id="user-avatar" style="background-image: url({% if project.owner.avatar %}{{ asset(project.owner.avatar) }}{% else %}{% if project.owner.sex == 'w' %}{{ asset('images/avatar-female.png') }}{% else %}{{ asset('images/avatar-male.png') }}{% endif %}{% endif %});"></div>
                        <h4 id="user-title"><a href="{{ path('users_profile', { id: project.owner.id }) }}">{{ project.owner.fullName }}</a></h4>
                    </div>
                    <div class="col-md-2">

                        <div {{ app.user is null ? ' data-toggle="modal" data-target="#login-modal"' }}>
                        {{ render(controller('AppBundle:Project:like', { id: project.id })) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1 tl-price">Бюджет проекту: <span class="price">{{ project.charge|number_format(0, '.', ' ') }}<span> грн.</div>
                </div>
            </div>

            <div class="row hd-title">
                <div class="col-md-12"></div>
            </div>
            <div class="row hd-statis">
                <div class="col-md-6 support">Підтримало: <span>{{ project.likedUsers|length|number_format(0, '.', ' ') }}</span></div>
                <div class="col-md-6 date-voting">Кінцева дата голосування: <span>14.12.15</span></div>
            </div>
            <div class="row hd-description">
                <div class="col-md-12">
                    <p>{{ project.description }}</p>
                </div>
            </div>
           {{ block('notice') }}
             {#<div class="row hd-comments">#}
                {#<div class="col-md-12"><a class="lb-comment" href="#">Коментарі</a><a class="lb-edit" href="#">Додати коментар</a></div>#}
            {#</div>#}
{% endblock %}

{% block notice %}
    <div class="row hd-description">
        <div class="col-md-12">
            <i>У випадку перемоги проект буде реалізовано структурними підрозділами Черкаської міської ради протягом 2016 року.</i>
        </div>
    </div>
{% endblock notice %}

{% block title %}
    {{ project.title|humanize }}
{% endblock title %}
{% block og %}
    <meta property="og:title" content="Народна Рада - {{ project.title|humanize }}"/>
    <meta property="og:image" content="{{ url('homepage')|trim('/') }}{% if project.picture %}{{ asset(project.picture) }}{% else %}{{ asset('images/gerb_goroda_cherkassy.png') }}{% endif %}"/>
    <meta property="og:description" content="{{ project.description[:100] ~'...' }}"/>
    <meta property="og:url" content="{{ app.request.getUri }}"/>
{% endblock og %}


{% block navproject %}
    {#<div class="nav_project">#}
        {#<ul class="nav nav-pills">#}
            {#<li><span>Створено: <span class="badge">{{ project.createAt|date('d-m-Y') }}</span></span></li>#}

            {#<li>#}
                {#{% if project.source is defined %}#}
                {#<span>#}
                    {#Звідки: <a href="{{ project.source }}" class="badge">#}
                        {#{% if project.source is defined %}#}
                        {#&#123;&#35;{{ project.source|regexUrl }}&#35;&#125;#}
                            {#{{ project.source }}#}
                        {#{% endif %}#}
                    {#</a>#}
                {#</span>#}
                {#{% endif %}#}
            {#</li>#}
            {#<li {{ app.user is null ? ' data-toggle="modal" data-target="#login-modal"' }}>#}
                {#{{ render(controller('AppBundle:Project:like', { id: project.id })) }}#}
            {#</li>#}

        {#</ul>#}
    {#</div>#}
{% endblock navproject %}
