{% extends "::base.html.twig" %}

{% block body %}

    {{ block("header") }}

    <main id="main-wrap">
        {{ block("flash") }}
        <div class="container">
            {{ block("content") }}
        </div>
    </main>
    {{ block("footer") }}
    <div id="login-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Авторизація</h4>
                </div>
                <div class="modal-body">
                    <div>BankID – це спосіб ідентифікації громадян. Це теж саме, що перевірка документів в повсякденності, тільки в електронному виді.
                        При ідентифікації громадян через BankID <b>НЕ ПЕРЕДАЄТЬСЯ фінансова та будь-яка інша приватна інформація.</b> Тільки та інформація, що надається в паперовій формі при голосуванні за проекти Громадський Бюджет (ім’я, прізвище, по-батькові, стать, дата народження, адреса та ідентифікаційний номер).
                        Отримані дані використовуються лише для ідентифікації громадян.</div>
                    <hr/>
                    <a href="{{ login_url }}">
                        {#<img src="{{ asset('images/bank-id.png') }}" alt="BankID" />#}
                        <button>Продовжити</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block content %}
{% endblock content %}

{% block footer %}
    <footer id="main-footer">
        <div class="container main-block">
            <div class="row">
                <div class="col-md-4 copyright">
                    <span>&copy; 2015</span>
                    <a href="{{ path("rada_about") }}">Про программу</a>
                    <a href="{{ path("rada_developerss") }}">Розробники</a>

                </div>
                <div class="col-md-4 text-center icon-wrap">
                    <span class="icon-4"></span>
                    <span class="icon-3"></span>
                    <span class="icon-2"></span>
                    <span class="icon-1"></span>
                </div>
                <div class="col-md-4 footer-social">
                    <a href="https://www.facebook.com/civilscouncil" class="icon-facebook" target="_blank"></a>
                    <a href="https://vk.com/civilscouncil" class="icon-vk" target="_blank"></a>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}

{% block menu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path("homepage") }}" class="navbar-brand">Лого</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    {#{{ dump(is_granted('ROLE_USER'), is_granted('ROLE_ADMIN')) }}#}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if app.user %}
                            <a href="{{ path('logout') }}">Вихід</a>
                        {% elseif app.request.get('_route') != 'login' %}
                            <a href="" data-toggle="modal" data-target="#login-modal">Увійти</a>
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </div>

{% endblock menu %}

{% block header %}
    <header id="main-header">
        <div class="container main-block">
            <a href="{{ path("homepage") }}" id="home-icon" class="icon-home"></a>
            <a href="{{ path("homepage") }}">golos.ck.ua</a>

            {#Logging#}
            {#{% if app.user and is_granted('ROLE_USER') %}#}
            {#<a href="{{ path('projects_add') }}">Add Project User</a>#}
            {#{% endif %}#}
            {#{% if app.user and is_granted('ROLE_ADMIN') %}#}
            {#<a href="{{ path('admin_projects_add') }}">Add Project Admin</a>#}
            {#{% endif %}#}


            <div class="header-controls">
                {#<a href="#" class="lb-diagramm" title="Статистика"></a>#}
                {% if app.user %}
                <a href="{{ path('logout') }}" class="lb-signout" style="background-image: url( {% if app.user.avatar %} {{ asset(app.user.avatar) }} {% else %} {{ asset('bundles/app/img/icon_developer.png') }} {% endif %} );" title="Вихід"></a>
                {% elseif app.request.get('_route') != 'login' %}
                <a href="" class="lb-signin" data-toggle="modal" data-target="#login-modal" title="Увійти"></a>
                {% endif %}
            </div>

        </div>
    </header>
{% endblock header %}
