{% extends "::base.html.twig" %}

{% block body %}

    {{ block("header") }}

    <main id="main-wrap" class="{{ block('mainWrapClass') }}">
        {{ block("flash") }}
        {{ block("herosection") }}
        <div class="container">
            {{ block("content") }}
        </div>
    </main>
    {{ block("footer") }}
    {{ block("popauth") }}
{% endblock body %}

{% block herosection %}{% endblock herosection %}

{% block content %}{% endblock content %}

{% block popauth %}
    <div id="login-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row blh-auth">
                        <div class="col-md-6">крок "Авторизація"</div><span class="arrow"></span>
                        <div class="col-md-6">крок "Голосування за проект"</div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        {% if voteSetting is defined and voteSetting.isOfflineVotingEnabled%}
                            Якщо у Вас немає можливості підтримати проект онлайн,
                            Ви його можете підримати прийшовши за адресою:</br></br>
                            {{ voteSetting.address|nl2br }}
                            При собі мати паспорт та ідентифікаційний код.
                        {% endif %}
                        </br></br>
                    </div>
                    <hr/>
                    <a href="{{ login_url }}" target="_blank">
                        {#<img src="{{ asset('images/bank-id.png') }}" alt="BankID" />#}
                        <button class="modal-btn"> Увійти та проголосувати онлайн </button>
                    </a>
                </div>
                {#{% /endif %}#}
            </div>
        </div>
    </div>
{% endblock popauth %}

{% block footer %}
    <footer id="main-footer">
        <div class="container main-block">
            <div class="row">
                <div class="col-md-4 copyright">
                    <span>&copy; 2015-{{ 'now'|date('Y') }}</span>
                    <a href="{{ path("rada_about") }}">Про проект</a>
                    <a href="{{ path("rada_developerss") }}">Розробники</a>

                </div>
                <div class="col-md-6 text-center icon-wrap">
                    <span class="icon-4"></span>
                    <span class="icon-3"></span>
                    <span class="icon-2"></span>
                    <span class="icon-1"></span>
                    <a href="https://www.facebook.com/groups/964585350255236" target="_blank"><span class="icon-0"></span></a>
                </div>
                <div class="col-md-2 footer-social">
                    <a href="https://play.google.com/store/apps/details?id=org.tgs.civils.budget" class="icon-android"></a>
                    <a href="itms://itunes.apple.com/ua/app/apple-store/id1063027091?mt=8" class="icon-apple"></a>
                    <a href="https://www.facebook.com/civilscouncil" class="icon-facebook" target="_blank"></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Start of LiveChat (www.livechatinc.com) code -->
	<script type="text/javascript">
		window.__lc = window.__lc || {};
		window.__lc.license = 9218560;
		(function() {
		  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
		  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
		})();
	</script>
	<!-- End of LiveChat code -->
{% endblock footer %}

{% block menu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path("homepage") }}" class="navbar-brand">Лого</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    {#{{ dump(is_granted('ROLE_USER'), is_granted('ROLE_ADMIN')) }}#}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if app.user %}
                            <a href="{{ path('logout') }}">Вихід</a>
                        {% elseif app.request.get('_route') != 'login' %}
                            <a href="" data-toggle="modal" data-target="#login-modal">Увійти</a>
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </div>

{% endblock menu %}

{% block header %}
    <header id="main-header">
        <div class="container main-block">
        {% if app.request.get('city') is not empty %}
                <a href="{{ path("homepage") }}?city={{ app.request.get('city') }}" id="home-icon" class="icon-home">Всі голосування</a>
            {% else %}
                <a href="{{ path("homepage") }}" id="home-icon" class="icon-home">Всі голосування</a>
            {% endif %}

            {#{% if app.user %}#}
                {#<p id="count_votes">{{ render(controller('AppBundle:User:countVotes', {'id': app.user.id})) }}</p>#}
            {#{% endif %}#}

            <div class="header-controls">
                {#<a href="#" class="lb-diagramm" title="Статистика"></a>#}
                {% if app.user  %}
                    <span class="header-controls-user-name">
                    {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
                    {#<a href="{{ path('logout') }}" class="lb-signout" style="background-image: url( {% if app.user.avatar %} {{ asset(app.user.avatar) }} {% else %} {{ asset('bundles/app/img/icon_developer.png') }} {% endif %} );" title="Вихід"></a>#}
                    <a href="{{ path('logout') }}"><img  class="lb-signout" src="{% if app.user.avatar %} {{ asset(app.user.avatar) }} {% else %} {{ asset('bundles/app/img/icon_developer.png') }} {% endif %} ">  Вихід</a>
                    {#<i class="lb-signout" title="Вихід"></i>#}
                    </span>
                {% elseif app.request.get('_route') != 'login' %}
                    <a href="" class="lb-signin" data-toggle="modal" data-target="#login-modal" title="Увійти">Увійти та проголосувати</a>
                {% endif %}

                {#Logging#}
                {#{% if app.user and is_granted('ROLE_USER') %}#}
                    {#<a href="{{ path('projects_add') }}">Додати проект</a>#}
                {#{% endif %}#}
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_projects_add') }}">Add Project Admin</a>
                {% endif %}
            </div>

        </div>
    </header>
{% endblock header %}
