{% extends "::base.html.twig" %}

{% block body %}

    {{ block("menu") }}
    <div class="container">
        <div class="bs-docs-section">
            {{ block("header") }}
            {{ block("flash") }}
            {{ block("content") }}
        </div>
        {{ block("footer") }}
    </div>
    <div id="login-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Авторизація</h4>
                </div>
                <div class="modal-body">
                    <div>BankID – це спосіб ідентифікації громадян. Це теж саме, що перевірка документів в повсякденності, тільки в електронному виді.
                        При ідентифікації громадян через BankID <b>НЕ ПЕРЕДАЄТЬСЯ фінансова та будь-яка інша приватна інформація.</b> Тільки та інформація, що надається в паперовій формі при голосуванні за проекти Громадський Бюджет (ім’я, прізвище, по-батькові, стать, дата народження, адреса та ідентифікаційний номер).
                        Отримані дані використовуються лише для ідентифікації громадян.</div>
                    <hr/>
                    <a href="{{ 'projects_show' == app.request.get('_route') ? project|projectCallback : login_url }}">
                        {#<img src="{{ asset('images/bank-id.png') }}" alt="BankID" />#}
                        <button>Продовжити</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block content %}{% endblock content %}
{% block footer %}
    <footer>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </footer>
{% endblock footer %}

{% block menu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path("homepage") }}" class="navbar-brand">Лого</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    {#{{ dump(is_granted('ROLE_USER'), is_granted('ROLE_ADMIN')) }}#}
                        {% if app.user and is_granted('ROLE_USER') %}
                        <li><a href="{{ path('projects_add') }}">Add Project User</a></li>
                    {% endif %}
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_projects_add') }}">Add Project Admin</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if app.user %}
                            <a href="{{ path('logout') }}">Вихід</a>
                        {% elseif app.request.get('_route') != 'login' %}
                            <a href="" data-toggle="modal" data-target="#login-modal">Увійти</a>
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </div>

{% endblock menu %}

{% block header %}
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h1 id="buttons">{{ block('title') }}</h1>
            </div>
        </div>
    </div>
{% endblock header %}
