<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>

{% block flash %}
    {% for flashType in app.session.flashbag.keys %}
        {% for flash in app.session.flashbag.get(flashType) %}
            <div class="alert alert-dismissible alert-{{ flashType }}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>{{ flashType|humanize }}!</h4>
                <p>{{ flash }}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock flash %}
