{% extends '@App/layout.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block content %}

    {% for vote in balanceVotes %}
        <ul>
            <li>
                <a href="#">
                    {{ vote[0].title }} - {{ vote['balance'] }}
                </a>
            </li>
        </ul>
    {% endfor %}
    {{ form(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      var prjcount = 1,
        balance = {{ balanceVotes }};
      $('.form-collection').each(function(i, formCollection) {
        var $formCollection = $(formCollection),
          $elements = $formCollection.find('.form-collection-elements'),
          idx = $elements.find('.form-collection-element').length

        $formCollection.find('.form-collection-add').on('click', function() {
          if (prjcount <= balance) {
            var prototype = $(this).data('prototype');
            prototype = prototype.replace(/__name__/g, idx++);
            $(prototype).appendTo($(this).closest('.form-collection').find('.form-collection-elements'))
              .find('select')
              .select2()
            prjcount++
          }
        }).click()
        $elements.on('click', '.form-collection-delete', function() {
          $(this).parents('.form-collection-element').remove()
          prjcount--
        })
      });

    </script>
{% endblock %}