{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% set userVotes = user.getVotesLength(vote)|length %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ vote.id }}" aria-expanded="true" aria-controls="collapseOne">
                                {{ vote.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ vote.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <h1>Проекти для голосування: лишилося <span id="user-limit">{{ vote.voteLimits - userVotes }}</span> голоси  </h1>
                            <table class="table table-striped" data-user-limit="{{ vote.voteLimits - userVotes }}">
                                {% for project in vote.project %}
                                    <tr id="project-{{ project.id }}" class="project">
                                        <td class="vote-column">
                                            {% set projectChecked = project.getUserProjectByUser(user)|length > 0 %}
                                            <div class="check">
                                                <i class="fa fa-check fa-2x{{ false == projectChecked ? ' hidden' }}" aria-hidden="true" data-check="{{ project.id }}"></i>
                                            </div>
                                            <label class="hidden"><input type="checkbox" data-project-id="{{ project.id }}" disabled {{ projectChecked ? 'checked' }}/></label>
                                        </td>
                                        <td><h3>{{ project.title }}</h3></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="vote-btn" class="btn btn-success btn-block">Відправити голоси</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var generalUserLimit = parseInt($('.collapse table').attr('data-user-limit')) + parseInt($('.table input:checked').map(function () {
                return $(this).attr('data-project-id');
            }).toArray().length),
            userLimitView = $('#user-limit');

        $('.table  tr').click(function () {
            var checkbox = $(this).find('input[type="checkbox"]');

            if (0 === parseInt(userLimitView.html()) && false === checkbox.is(":checked")) {
                return;
            }

            checkbox.attr('checked', !checkbox.is(':checked'));
            checkbox.change();
            userLimitView.html(generalUserLimit - $('.table input:checked').length);
        });

        $('#vote-btn').click(function () {
            var votedProjects = $('.table input:checked').map(function () {
                return $(this).attr('data-project-id');
            }).toArray();

            if (votedProjects.length > 0) {
                $
                    .post(Routing.generate('offline_votes_complete', {'inn': {{ user.inn }} }), {'projects': votedProjects})
                    .done(function (data) {
                        var href = $('.lb-signout').attr('href');
                        if ('ok' === data) {
                            window.location.href = Routing.generate('offline_dashboard');
                        }
                    })
                    .fail(function (data){
                        console.log(data);
                    });
            }
        });

        $('table input[type="checkbox"]').change(function () {
            var checkbox = $(this),
                view = checkbox.parent().parent().find('.check i');

            if (view.hasClass('hidden') && true === checkbox.is(':checked')) {
                view.removeClass('hidden');

                return;
            }

            if (false === view.hasClass('hidden') && false === checkbox.is(':checked')) {
                view.addClass('hidden');
            }
        })
    </script>
{% endblock javascripts %}


