{% extends "@App/layout.html.twig" %}

{% block title %}Адмін панель{% endblock title %}
{% block header %}
    <header id="main-header" class="container">
        <div class="main-block">
            <a href="{{ path("homepage") }}" id="home-icon" class="icon-home"></a>
            <a href="{{ path("admin_dashboard") }}">{{ block('title')}}</a>

            {#Logging#}
            {#{% if app.user and is_granted('ROLE_USER') %}#}
            {#<a href="{{ path('projects_add') }}">Add Project User</a>#}
            {#{% endif %}#}

            {#TODO: orginize it in better way #}
            {#{% if app.user and is_granted('ROLE_ADMIN') %}#}
            {#<a href="{{ path('admin_projects_add') }}">Add Project Admin</a>#}
            {#{% endif %}#}

            {% block user %}
                {% if app.user %}
                    <a href="{{ path('logout') }}" class="lb-signout" title="Вихід">Вихід</a>
                {% elseif app.request.get('_route') != 'login' %}
                    <a href="" class="lb-signin" data-toggle="modal" data-target="#login-modal" title="Увійти"></a>
                {% endif %}
            {% endblock user %}
        </div>
    </header>
{% endblock header %}
