{% extends "@App/layout.html.twig" %}

{% block header %}
    <header id="main-header">
        <div class="container main-block">
            <a href="{{ path("homepage") }}" id="home-icon" class="icon-home"></a>
            <a href="{{ path("admin_dashboard") }}">Адмін панель</a>

            {#Logging#}
            {#{% if app.user and is_granted('ROLE_USER') %}#}
            {#<a href="{{ path('projects_add') }}">Add Project User</a>#}
            {#{% endif %}#}
            {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_projects_add') }}">Add Project Admin</a>
            {% endif %}


            <div class="header-controls">
                {#<a href="#" class="lb-diagramm" title="Статистика"></a>#}
                {% if app.user %}
                    <a href="{{ path('logout') }}" class="lb-signout" style="background-image: url( {% if app.user.avatar %} {{ asset(app.user.avatar) }} {% else %} {{ asset('bundles/app/img/icon_developer.png') }} {% endif %} );" title="Вихід"></a>
                {% elseif app.request.get('_route') != 'login' %}
                    <a href="" class="lb-signin" data-toggle="modal" data-target="#login-modal" title="Увійти"></a>
                {% endif %}
            </div>

        </div>
    </header>
{% endblock header %}