<!DOCTYPE html>
<html>
<body>

<p>Доброго дня, {{ user.firstName|capitalize }} {{ user.lastName|capitalize }}</p>
<p>Дякуємо за реєстрацію на сайті <a href="{{ homePage }}">Прозоре місто</a></p>

<p>Відтепер, Ви зможете прийняти участь у голосуванні, підпримавши представлені проекти, та допомогти вирішити долю вашого міста на наступний рік.</p>

{% for key, value in response %}
    <li>За тип проекту {{ key }}: {{ value }}</li>
{% endfor %}

<p>Хочемо звернути Вашу увагу, що голусувати за проект можна тільки 1 раз. Голоси що залишись можна використовувати підтримавши інші проекти.</p>
<p>Результати будуть оприлюднені після завершення строку голосування та підведння підсумків.</p>
<p>Дякуємо що Ви з нами.</p>
<hr>
<p>З повагою,<br>
    Адміністрація сайту.</p>
</body>
</html>