<!DOCTYPE html>
<html>
<body>

<p>Шановний/шановна, {{ user.firstName|capitalize }} {{ user.lastName|capitalize }}</p>

<p>Дякуємо за вашу участь в онлайн голосуванні представлених проектів. Ваші голоси дуже важливі для нас та жителів всього міста.</p>
<p>Ви віддали ваші голоси за наступні проекти:</p>
    {% for project in user.userProjects %}
        <p>{{ loop.index }}). {{ project.voteSetting.location.city }} - {{ project.title }} </p>
    {% endfor %}


<p>У вас залишилось:</p>
{% for key, value in response %}
    <li>За тип проекту {{ key }}: {{ value }}</li>
{% endfor %}

<p>Після завершення голосування та підвення підсумків ми повідомимо вас про результати.</p>
<hr>
<p>З повагою,<br>
    Адміністрація сайту.</p>
</body>
</html>