{% extends '@App/layout.html.twig' %}

{% block title %}Редагування виборця{% endblock %}

{% block content %}
    <h1>Редагування виборця</h1>

    <div style="color: red">
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </div>

    {{ form(edit_form) }}

    <br><a href="{{ path('admin_dashboard') }}" class="btn btn-success">Повернутися до адмін панелі</a><br><br>

    <ul class="record_actions">
    {#<li>{{ form(delete_form) }}</li>#}

        {{ form_errors(delete_form) }}
        {{ form_start(delete_form, {'action': path('admin_users_delete', {'id': entity.id}), 'method': 'POST'}) }}


        <div class="margin-top-20 btn_save">
            {{ form_widget(delete_form.submit, {'attr': {'class': 'btn green-haze'}}) }}
        </div>
        {{ form_end(delete_form) }}
    </ul>
{% endblock %}
