{% extends '@App/layout.html.twig' %}

{% block title %}Додавання виборця{% endblock %}

{% block content %}
    <h1>Додавання виборця</h1>

    <div style="color: red">
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </div>

    {{ form_errors(form) }}
    {{ form_start(form) }}
    {{ form_widget(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_dashboard') }}">
            Повернутися до адмін панелі
        </a>
    </li>
</ul>
{% endblock %}
