{% extends '@App/layout.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block content %}
    <h1>Виборець</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Виборець</th>
                <td>{{"інн: " ~  entity.inn ~ ", " ~ entity.lastName ~ " " ~ entity.firstName ~ " " ~ entity.middleName ~ " (" ~ entity.sex ~ ")" }}</td>
            </tr>
            <tr>
                <th>Інформація: </th>
                <td>{{ entity.birthday ~ ", " ~ entity.phone ~ ", " ~ entity.email }}</td>
            </tr>
            <tr>
                <th>Адреса: </th>
                <td>{{ entity.location.city ~ ", " ~ entity.location.address}}</td>
            </tr>
            <tr>
                <th>Добавив(ла):</th>
                {% if entity.addedByAdmin%}
                    <td>{{ entity.addedByAdmin.firstName }} {{ entity.addedByAdmin.lastName }}</td>
                {% else %}
                    <td>Самостійно (BankID)</td>
                {% endif %}
            </tr>
            <tr>
                <th>Зареєстрований в системі:</th>
                <td>{{ entity.createAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
    <li>
        <a href="{{ path('admin_users') }}">
            Повернутися до списку виборців
        </a>
    </li>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li>
            <a href="{{ path('admin_users_edit', { 'id': entity.id }) }}">
                Редагувати
            </a>
        </li>
        {{ form_errors(delete_form) }}
        {{ form_start(delete_form, {'action': path('admin_users_delete', {'id': entity.id}), 'method': 'POST'}) }}


        <div class="margin-top-20 btn_save">
            {{ form_widget(delete_form.submit, {'attr': {'class': 'btn green-haze'}}) }}
        </div>
        {{ form_end(delete_form) }}
    {% endif %}

    </ul>

    {% for vote in balanceVotes %}
        <ul>
            <li>
                <a href="{{ vote['balance'] > 0 ? path('admin_user_new_paper_vote', {'user_id': entity.id, 'voting_id': vote[0].id}) : '#' }}">
                    {{ vote[0].title ~ ", залишилося " ~ vote['balance'] ~ " голосів" }}
                </a>
            </li>
        </ul>
    {% endfor %}

    <div class="count">
        Список проектів, за які віддав голос виборець: {{ pagination.getTotalItemCount }}
    </div>
    <table class="table table-striped">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Номер в системі', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Назва проекту', 'a.title') }}</th>
            <th{% if pagination.isSorted('vs.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Голосування', 'vs.title') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Створено', ['a.createAt']) }}</th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                {% if article.voteSetting %}<td>{{ article.voteSetting.title }}</td>{% endif %}
                <td>{% if article.createAt %}{{ article.createAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}