{% extends "@App/Admin/layout.html.twig" %}

{% block content %}
    <p><b>Пошук виборця по ІНН:</b><br>
        <input id="inn-search"
               type="text"
               title="Пошук по ІНН"
               onkeypress="return isNumberKey(event)"
               data-search-url="{{ url('admin_users') }}"
        >
    </p>
    <div id="inn-search-result">
    </div>

    Пошук Виборця:  <a href="{{ path('admin_user_find') }}" class="btn btn-default">Пошук Виборця по ІНН</a><br><br>
    Додати Виборця:  <a href="{{ path('admin_users_new') }}" class="btn btn-success">Додати виборця</a><br><br>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        Список голосуваннь:  <a href="{{ path('vote_settings') }}" class="btn btn-default">Переглянути</a><br><br>
        Список проектів:  <a href="{{ path('admin_projects_show') }}" class="btn btn-default">Переглянути</a><br><br>
        Не підтвердженні проекти:  <a href="{{ path('admin_projects_not_approved') }}" class="btn btn-default">Переглянути</a><br><br>
        Список Виборців:  <a href="{{ path('admin_users') }}" class="btn btn-default">До списку виборців</a><br><br>

        список Виборців якi додав адмiн {{ countAdminUsers }} <br>
        список Виборців якi зарееструвались самi {{ countAuthUsers }} <br>

        голоси Виборців якi додав адмiн {{ countAdminVoted }} <br>
        голоси Виборців якi зарееструвались самi {{ countVoted }} <br>
    {% endif %}

    Адмін панель <a href="{{ path('admin_logout') }}" class="btn btn-warning">Вихід з адмін панелі</a><br><br>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app_admin.js') }}"></script>
{% endblock javascripts %}
